body {
    margin: 0;
    font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
    text-align: center;
}

h1 {


    font-size: 3.0rem;
    color: #273636;
    font-weight: normal;
    max-width: 600px;
    height: auto;
    margin: auto;
    padding: 50px;

}

h2 {

    font-size: 2.5rem;
    color: #273636;
    font-weight: normal;
    width: 50%;
    margin: auto;
    padding-bottom: 50px;
}

h3 {
    color: #11999E;
    font-size: 2.15rem;
}

/* Containers */
.top-container {
    background-color: #5bd3d3;

    padding: 100px 0px 0px 0px;
}

.middle-container {

    background-color: rgb(247, 220, 224);

    padding: 55px 0;


}


.bottom-container {

    background-color: #66BFBF;
    padding: 15px 0;
}


/* Top Images */
.parent {
    position: relative;
    top: 0;
    left: 0;
}


.farm_landscape {

    height: auto;
    width: 100%;
    
    position: relative;
    top: 0;
    left: 0;



}

.cloud {

    height: auto;
    width: 15%;
    position: absolute;
    top: 5%;
    right: 40%;

}

.cloud2 {

    height: auto;
    width: 15%;
    position: absolute;
    top: 25%;
    right: 10%;
}

.cloud3 {

    height: auto;
    width: 15%;
    position: absolute;
    top: 15%;
    left: 15%;
}



#Grace_sleeping {

    height: auto;
    width: 10%;
    max-width: 100%;
    position: absolute;
    top: 25%;
    left: 25%;

}


#Happy_Cow {
    height: auto;
    width: 20%;
    position: absolute;
    top: 35%;
    left: 55%;
    z-index: 1;
}

#rooster {
    height: auto;
    width: 15%;
    position: absolute;
    top: 55%;
    left: 25%;
    z-index: 1;
}



/* Comics */
.Greeting {
    font-size: 22px;
    padding-left: 5%;
    padding-right: 5%;

    width: 50%;
    margin: auto;

}



.comic-titles {
    font-size: 2.15rem;
    text-align: center;
    color: #11999E;
}


hr {
    border-top: 5px dotted #547a7a;
    margin: 35px 550px;
}

.comic-images {
    display: block;
    margin: 20px auto;
    max-width: 30%;
    min-width: 20%;


}




.carousel-item{
    padding: 7% 15%;
}

/* Buttons */

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}


/* Footer */

.footer-link {
    color: #127579;
    margin: 0 50px;
    text-decoration: none
}

.footer-link:hover {
    color: #EAF6F6
}

.copyright {
    color: #EAF6F6;
    font-size: .75rem;
    padding: 20px 0px;
}


/*Page Buttons */

.home-button{
    top: 5%;
    left: 80%;
    position: absolute;
    border: none;
    background-color: #ffffff;
    font-size: 1.2rem;
    border-radius: 50%;
}

.articles-button{
    top: 5%;
    left: 90%;
    position: absolute;
    border: none;
    background-color: #ffffff;
    font-size: 1.2rem;
    border-radius: 50%;
    
}

/* Articles page */
.container{
    width: 100%;
    background-color: #ffffff;
}

.container .row{
    width: 80%;
    margin: auto;
}

.container .row .header{
    width: 60%;
    text-align: center;
    margin: auto;
}

.container .row .header h1{
    padding-top: 30px;
    font-size: 3.5rem;
    color: rgb(15, 14, 14);
}

.container .row .header p{
    margin-top: 15px;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #6e6e6e;
}


/* content display */
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.content .card{
    flex: 1;
    margin: 50px 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
    background-color: #fff;}

.content .card img{
    width: 100%;
    height: auto;


}

.content .card h3{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.2rem;
    color: #273636;
    

}

.content .card p{
    color: #6e6e6e;
    line-height: 1.5;
    font-size: 1 rem;
    padding: 10px;

}

#image_1{
    height: 50%;
}

/* Articles */
article{
    font-size: 1.2rem;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20%;
    padding-right: 20%;


}

#news-photo{
    display: block;
    max-width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Media
@media (max-width: 1028px) {
    .bunnies {
        min-width: auto;
    }

    .article{
        font-size: 0.8rem;
        margin-left: 5px;
        margin-right: 5px;
        padding: 5%;

    }

      #news-photo{
        display: block;
        max-width: 80%;
        max-height: auto;
    }

    h2{
        font-size: 1.7rem;
    }

} */

@media screen and (max-width: 768px) {
    .content{
        flex-direction: column;
    }

    .bunnies {
        min-width: auto;
    }

    .home-button{
        left: 65%;
        position:absolute;
        width: 10%;
        height: auto;
        font-size: 0.8rem;
    }

    .articles-button{
        left: 80%;
        position: absolute;
        width: 10%;
        height: auto;
        font-size: 0.8rem;
    }

    .article{
        font-size: 0.8rem;
        margin-left: 5px;
        margin-right: 5px;
        padding: 5%;
    }



    h2{
        font-size: 1.7rem;
    }
    
}

.nav-link{
    font-size: 1.2rem;
    font-family: Montserrat-Light, sans-serif;
    }

.navbar{
        padding:0 0 4.5rem;
    }
    
.nav-item{
        padding: 0 18px;
    }
