body {
    margin: 0;
    font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
    text-align: center;
}

h1 {


    font-size: 3.0rem;
    color: #273636;
    font-weight: normal;
    max-width: 600px;
    height: auto;
    margin: auto;
    padding: 50px;

}

h2 {

    font-size: 2.5rem;
    color: #273636;
    font-weight: normal;
    width: 50%;
    margin: auto;
    padding-bottom: 50px;
}

h3 {
    color: #11999E;
    font-size: 2.15rem;
}

/* Containers */
.top-container {
    background-color: #5bd3d3;

    padding: 100px 0px 0px 0px;
}

.middle-container {

    background-color: rgb(247, 220, 224);

    padding: 55px 0;


}


.bottom-container {

    background-color: #66BFBF;
    padding: 15px 0;
}


/* Top Images */
.parent {
    position: relative;
    top: 0;
    left: 0;
}


.farm_landscape {

    height: auto;
    width: 100%;
    max-width: 100%;
    position: relative;
    top: 0;
    left: 0;



}

.cloud {

    height: auto;
    width: 15%;
    position: absolute;
    top: 5%;
    right: 40%;

}

.cloud2 {

    height: auto;
    width: 15%;
    position: absolute;
    top: 15%;
    right: 10%;
}

.cloud3 {

    height: auto;
    width: 15%;
    position: absolute;
    top: 15%;
    left: 10%;
}



#Grace_sleeping {

    height: auto;
    width: 10%;
    max-width: 100%;
    position: absolute;
    top: 25%;
    left: 25%;

}


#Happy_Cow {
    height: auto;
    width: 20%;
    position: absolute;
    top: 35%;
    left: 55%;
    z-index: 1;
}

#rooster {
    height: auto;
    width: 15%;
    position: absolute;
    top: 55%;
    left: 25%;
    z-index: 1;
}



/* Comics */
.Greeting {
    font-size: 22px;
    padding-left: 5%;
    padding-right: 5%;

    width: 50%;
    margin: auto;

}

.carousel-item{
    padding: 7% 15%;
}

.comic-titles {
    font-size: 2.15rem;
    text-align: center;
    color: #11999E;
}
    
    .comic-images {
    display: block;
    margin: 20px auto;
    width: 15%;
}

hr {
    border-top: 5px dotted #547a7a;
    margin: 55px 550px;
}

.Grumpy {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    float: right;
    padding-left: 3%;

}

.bunnies {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    float: left;
    padding-right: 3%;

}

/* Buttons */

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}


/* Footer */

.footer-link {
    color: #127579;
    margin: 0 50px;
    text-decoration: none
}

.footer-link:hover {
    color: #EAF6F6
}

.copyright {
    color: #EAF6F6;
    font-size: .75rem;
    padding: 20px 0px;
}



